Repository bcgov/nrts-prc-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn, stylelint --fix

ACRFD-4: Reason/amendments support, update constants logic, add unit tests.
  .huskyrc
  .lintstagedrc
  README.md
  package.json
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/applications/application-aside/application-aside.component.spec.ts
  src/app/applications/application-aside/application-aside.component.ts
  src/app/applications/application-detail/application-detail.component.html
  src/app/applications/application-detail/application-detail.component.ts
  src/app/applications/application-list/application-list.component.html
  src/app/applications/application-list/application-list.component.ts
  src/app/applications/application-resolver.service.ts
  src/app/header/header.component.ts
  src/app/models/application.ts
  src/app/models/feature.ts
  src/app/models/search.ts
  src/app/pipes/newlines.pipe.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/services/api.ts
  src/app/services/application.service.spec.ts
  src/app/services/application.service.ts
  src/app/services/commentperiod.service.ts
  src/app/services/config.service.spec.ts
  src/app/services/config.service.ts
  src/app/services/search.service.ts
  src/app/utils/constants.ts
  src/app/utils/constants/application.spec.ts
  src/app/utils/constants/application.ts
  src/app/utils/constants/comment.spec.ts
  src/app/utils/constants/comment.ts
  src/app/utils/constants/constantUtils.spec.ts
  src/app/utils/constants/constantUtils.ts
  src/app/utils/constants/interfaces.ts
  tslint.json
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-4: Reason/amendments support, update constants logic, add unit tests.
  .huskyrc
  .lintstagedrc
  Jenkinsfile
  Jenkinsfile - develop
  Jenkinsfile - hotfix
  README.md
  package.json
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/applications/application-aside/application-aside.component.spec.ts
  src/app/applications/application-aside/application-aside.component.ts
  src/app/applications/application-detail/application-detail.component.html
  src/app/applications/application-detail/application-detail.component.ts
  src/app/applications/application-list/application-list.component.html
  src/app/applications/application-list/application-list.component.ts
  src/app/applications/application-resolver.service.ts
  src/app/header/header.component.ts
  src/app/models/application.ts
  src/app/models/feature.ts
  src/app/models/search.ts
  src/app/pipes/newlines.pipe.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/services/api.ts
  src/app/services/application.service.spec.ts
  src/app/services/application.service.ts
  src/app/services/commentperiod.service.ts
  src/app/services/config.service.spec.ts
  src/app/services/config.service.ts
  src/app/services/search.service.ts
  src/app/utils/constants.ts
  src/app/utils/constants/application.spec.ts
  src/app/utils/constants/application.ts
  src/app/utils/constants/comment.spec.ts
  src/app/utils/constants/comment.ts
  src/app/utils/constants/constantUtils.spec.ts
  src/app/utils/constants/constantUtils.ts
  src/app/utils/constants/interfaces.ts
  tslint.json
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-4: Update Jenkinsfiles
  Jenkinsfile
  Jenkinsfile - develop
  Jenkinsfile - hotfix
Due: none

ACRFD-4: Update jenkinsfiles
  Jenkinsfile
  Jenkinsfile - develop
  Jenkinsfile - hotfix
Due: none

ACRFD-4: Reason/amendments support, update constants logic, add unit tests, update jenkinsfiles.
  .huskyrc
  .lintstagedrc
  Jenkinsfile
  Jenkinsfile - develop
  Jenkinsfile - hotfix
  README.md
  package.json
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/applications/application-aside/application-aside.component.spec.ts
  src/app/applications/application-aside/application-aside.component.ts
  src/app/applications/application-detail/application-detail.component.html
  src/app/applications/application-detail/application-detail.component.ts
  src/app/applications/application-list/application-list.component.html
  src/app/applications/application-list/application-list.component.ts
  src/app/applications/application-resolver.service.ts
  src/app/header/header.component.ts
  src/app/models/application.ts
  src/app/models/feature.ts
  src/app/models/search.ts
  src/app/pipes/newlines.pipe.ts
  src/app/search/search.component.html
  src/app/search/search.component.ts
  src/app/services/api.ts
  src/app/services/application.service.spec.ts
  src/app/services/application.service.ts
  src/app/services/commentperiod.service.ts
  src/app/services/config.service.spec.ts
  src/app/services/config.service.ts
  src/app/services/search.service.ts
  src/app/utils/constants.ts
  src/app/utils/constants/application.spec.ts
  src/app/utils/constants/application.ts
  src/app/utils/constants/comment.spec.ts
  src/app/utils/constants/comment.ts
  src/app/utils/constants/constantUtils.spec.ts
  src/app/utils/constants/constantUtils.ts
  src/app/utils/constants/interfaces.ts
  tslint.json
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-14: project list page + tests, update search component + tests.
  .gitignore
  angular.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.scss
  src/app/app.module.ts
  src/app/applications/applications.module.ts
  src/app/applications/review-comments/review-comments.component.scss
  src/app/applications/review-comments/review-comments.component.spec.ts
  src/app/applications/review-comments/review-comments.component.ts
  src/app/header/header.component.html
  src/app/list/list.component.html
  src/app/list/list.component.scss
  src/app/list/list.component.spec.ts
  src/app/list/list.component.ts
  src/app/models/search.ts
  src/app/search/search.component.html
  src/app/search/search.component.spec.ts
  src/app/search/search.component.ts
  src/app/services/api.spec.ts
  src/app/services/api.ts
  src/app/services/application.service.ts
  src/app/services/excel.service.spec.ts
  src/app/services/excel.service.ts
  src/app/services/export.service.spec.ts
  src/app/services/export.service.ts
  src/app/services/search.service.spec.ts
  src/app/services/search.service.ts
  src/app/shared.module.ts
  src/app/spec/helpers.ts
  src/app/utils/ng-var.directive.spec.ts
  src/app/utils/ng-var.directive.ts
  src/assets/styles/components/pagination.scss
  src/assets/styles/components/table-cards.scss
  src/assets/styles/themes/default.scss
  src/styles.scss
  src/tsconfig.spec.json
  tsconfig.json
  tslint.json
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn, stylelint --fix

ACRFD-14: updates
  src/app/list/list.component.html
  src/app/services/api.ts
  src/app/services/keycloak.service.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-4-2: Update amendment text. Fix trivial application refresh bug.
  src/app/applications/application-detail/application-detail.component.ts
  src/app/search/search.component.ts
  src/app/utils/constants/application.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-4-3: Improve UI refresh on Application refresh.
  src/app/applications/application-detail/application-detail.component.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-4-4: Improve refresh, models, constant handling.
  src/app/models/application.ts
  src/app/search/search.component.ts
  src/app/services/application.service.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-14: updates
  src/app/list/list.component.html
  src/app/list/list.component.ts
  src/app/utils/constants/application.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-14: Updates
  src/app/applications/application-detail/application-detail.component.html
  src/app/list/list.component.html
  src/app/list/list.component.ts
  src/app/models/application.ts
  src/app/search/search.component.html
  src/app/services/api.ts
  src/app/services/application.service.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-14: fix update
  src/app/services/application.service.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-14: updates
  src/app/list/list.component.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-14: update sorting
  src/app/list/list.component.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-14: add meta field to models.
  src/app/applications/application-add-edit/application-add-edit.component.html
  src/app/applications/application-add-edit/application-add-edit.component.ts
  src/app/applications/application-aside/application-aside.component.html
  src/app/applications/application-detail/application-detail.component.html
  src/app/applications/application-detail/application-detail.component.ts
  src/app/applications/application-resolver.service.ts
  src/app/applications/review-comments/review-comments.component.html
  src/app/applications/review-comments/review-comments.component.ts
  src/app/list/list.component.html
  src/app/list/list.component.ts
  src/app/models/application.ts
  src/app/models/commentperiod.ts
  src/app/models/decision.ts
  src/app/models/document.ts
  src/app/models/search.ts
  src/app/pipes/published.pipe.ts
  src/app/search/search.component.html
  src/app/services/application.service.ts
  src/app/services/commentperiod.service.ts
  src/app/services/decision.service.ts
  src/app/services/search.service.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-14: add meta field to tests. Add new comment period queries (commented out). Update list export.
  src/app/applications/review-comments/review-comments.component.spec.ts
  src/app/list/list.component.html
  src/app/list/list.component.spec.ts
  src/app/list/list.component.ts
  src/app/search/search.component.spec.ts
  src/app/services/api.spec.ts
  src/app/services/api.ts
  src/app/services/application.service.spec.ts
  src/app/services/application.service.ts
  src/app/services/comment.service.ts
  src/app/services/commentperiod.service.spec.ts
  src/app/services/commentperiod.service.ts
  src/app/services/decision.service.ts
  src/app/services/document.service.ts
  src/app/services/export.service.ts
  src/app/services/search.service.spec.ts
  src/app/services/search.service.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-14: List component tests passing
  src/app/list/list.component.spec.ts
  src/app/list/list.component.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-14: basic applicant search
  src/app/list/list.component.html
  src/app/list/list.component.scss
  src/app/list/list.component.ts
  src/app/services/api.spec.ts
  src/app/services/api.ts
  src/app/services/application.service.ts
  src/app/utils/constants/application.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn, stylelint --fix

ACRFD-14: update export status, remove reason
  src/app/list/list.component.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

Minor Bug: remove use of comment meta field, as it does not exist yet.
  src/app/applications/review-comments/review-comments.component.html
  src/app/applications/review-comments/review-comments.component.ts
  src/app/services/application.service.ts
  src/app/services/decision.service.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-56: Tests + Misc Cleanup
  .lintstagedrc
  angular.json
  e2e/app.e2e-spec.ts
  karma.conf.js
  package.json
  src/app/administration/users/add-edit-user/add-edit-user.component.spec.ts
  src/app/administration/users/users.component.spec.ts
  src/app/app.component.spec.ts
  src/app/applications/application-add-edit/application-add-edit.component.spec.ts
  src/app/applications/application-detail/application-detail.component.spec.ts
  src/app/applications/application-detail/application-detail.component.ts
  src/app/applications/application-resolver.service.spec.ts
  src/app/applications/review-comments/comment-detail/comment-detail.component.spec.ts
  src/app/applications/review-comments/review-comments.component.spec.ts
  src/app/confirm/confirm.component.spec.ts
  src/app/header/header.component.spec.ts
  src/app/list/list.component.spec.ts
  src/app/login/login.component.spec.ts
  src/app/search/search.component.spec.ts
  src/app/services/application.service.spec.ts
  src/app/services/authentication.service.spec.ts
  src/app/services/comment.service.spec.ts
  src/app/services/commentperiod.service.spec.ts
  src/app/services/decision.service.spec.ts
  src/app/services/document.service.spec.ts
  src/app/services/feature.service.spec.ts
  src/app/services/search.service.spec.ts
  src/app/services/user.service.spec.ts
  src/tsconfig.app.json
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-56: WIP
  README.md
  karma.conf.js
  package.json
  src/app/applications/application-add-edit/application-add-edit.component.spec.ts
  src/app/applications/application-detail/application-detail.component.spec.ts
  src/app/applications/application-resolver.service.spec.ts
  src/app/applications/review-comments/review-comments.component.spec.ts
  src/app/list/list.component.spec.ts
  src/app/services/api.spec.ts
  src/app/services/api.ts
  src/app/spec/helpers.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-56: tests passing
  README.md
  src/app/applications/application-add-edit/application-add-edit.component.spec.ts
  src/app/applications/application-add-edit/application-add-edit.component.ts
  src/app/applications/application-detail/application-detail.component.spec.ts
  src/app/applications/application-detail/application-detail.component.ts
  src/app/applications/review-comments/review-comments.component.html
  src/app/applications/review-comments/review-comments.component.spec.ts
  src/app/list/list.component.ts
  src/app/services/application.service.spec.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-56: move karma config and update package json versions
  angular.json
  package.json
  src/karma.conf.js
Due: none

ACRFD-56: tests passing, coverage working
  src/app/applications/review-comments/review-comments.component.spec.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

Upgrade versions.
  package.json
Due: none

fix lint issues
  src/assets/styles/components/spinner.scss
Due: stylelint --fix

ACRFD-56: Tests + Misc Cleanup
  .lintstagedrc
  README.md
  angular.json
  e2e/app.e2e-spec.ts
  karma.conf.js
  package.json
  src/app/administration/users/add-edit-user/add-edit-user.component.spec.ts
  src/app/administration/users/users.component.spec.ts
  src/app/app.component.spec.ts
  src/app/applications/application-add-edit/application-add-edit.component.spec.ts
  src/app/applications/application-add-edit/application-add-edit.component.ts
  src/app/applications/application-detail/application-detail.component.spec.ts
  src/app/applications/application-detail/application-detail.component.ts
  src/app/applications/application-resolver.service.spec.ts
  src/app/applications/review-comments/comment-detail/comment-detail.component.spec.ts
  src/app/applications/review-comments/review-comments.component.html
  src/app/applications/review-comments/review-comments.component.spec.ts
  src/app/confirm/confirm.component.spec.ts
  src/app/header/header.component.spec.ts
  src/app/list/list.component.spec.ts
  src/app/list/list.component.ts
  src/app/login/login.component.spec.ts
  src/app/search/search.component.spec.ts
  src/app/services/api.spec.ts
  src/app/services/api.ts
  src/app/services/application.service.spec.ts
  src/app/services/authentication.service.spec.ts
  src/app/services/comment.service.spec.ts
  src/app/services/commentperiod.service.spec.ts
  src/app/services/decision.service.spec.ts
  src/app/services/document.service.spec.ts
  src/app/services/feature.service.spec.ts
  src/app/services/search.service.spec.ts
  src/app/services/user.service.spec.ts
  src/app/spec/helpers.ts
  src/karma.conf.js
  src/tsconfig.app.json
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

ACRFD-56: Remove unused user/login/review/commentStatus/commentNumber/requestedAnonymous code, updated comment export.
  package.json
  src/app/administration/administration.component.html
  src/app/administration/administration.component.scss
  src/app/administration/administration.component.spec.ts
  src/app/administration/administration.component.ts
  src/app/administration/users/add-edit-user/add-edit-user.component.html
  src/app/administration/users/add-edit-user/add-edit-user.component.scss
  src/app/administration/users/add-edit-user/add-edit-user.component.spec.ts
  src/app/administration/users/add-edit-user/add-edit-user.component.ts
  src/app/administration/users/users.component.html
  src/app/administration/users/users.component.scss
  src/app/administration/users/users.component.spec.ts
  src/app/administration/users/users.component.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/applications/review-comments/review-comments.component.ts
  src/app/header/header.component.html
  src/app/header/header.component.ts
  src/app/list/list.component.ts
  src/app/login/login.component.html
  src/app/login/login.component.scss
  src/app/login/login.component.spec.ts
  src/app/login/login.component.ts
  src/app/models/comment.ts
  src/app/models/user.ts
  src/app/not-authorized/not-authorized.component.html
  src/app/not-authorized/not-authorized.component.ts
  src/app/services/api.ts
  src/app/services/comment.service.spec.ts
  src/app/services/comment.service.ts
  src/app/services/export.service.ts
  src/app/services/keycloak.service.ts
  src/app/services/user.service.spec.ts
  src/app/services/user.service.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn, stylelint --fix

NOBUG: Capitalize export CSV headers.
  src/app/list/list.component.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

Fix file and folder permissions on nginx-runtime
  openshift/templates/nginx-runtime/Dockerfile
Due: none

Fix SSO/OIDC endpoints
  src/app/services/keycloak.service.ts
Due: ng lint base-app2 --fix --format=stylish, prettier --write --loglevel warn

Update index.html
  src/index.html
Due: none

Path conditions:
  ng lint base-app2 --fix --format=stylish: any of: *.ts
  prettier --write --loglevel warn: any of: *.ts
  stylelint --fix: any of: *.scss
